* {
  font-family: 'Emilys Candy', cursive;
}
:root {
  --transparent: 0.5;
}
.text,
img.homepage {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.background {
  background: linear-gradient(135deg,pink,purple); 
  height: 100vh;
}
div.center {
  text-align: center;
}
ul.homepage {
  display: inline-block;
  text-align: left;
}
.font {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 200%;
}